{{#each data}}
 <h2 class="restaurants">{{this.name}}</h2>
	<hr>
  <ul>
    <li>Hours of Operation: {{this.open}} - {{this.close}}</li>
    <li>Delivery Time: {{this.time}}</li>
    <li>Available for delivery on: {{this.platforms}}</li>
    <li>Menu: {{this.menu}}</li>
  </ul>
{{/each}}
