<input id="searchbar" onkeyup="search_res()" type="text"
        name="search" placeholder="Search restaurants..">
{{#each data}}
 <div class="restaurants">
   <h2 class="resName">{{this.name}}</h2>
   <hr>
   <ul>
     <li>Hours of Operation: {{this.hours.open}} - {{this.hours.close}}</li>
     <li>Delivery Time: {{this.time}}</li>
     <li>Available for delivery on: {{this.platforms}}</li>
     <li>Menu: {{this.menu}}</li>
   </ul>
 </div>
{{/each}}
<h2 id="empty"></h2>
<script>
function search_res() {
  let input = document.getElementById('searchbar').value
  input=input.toLowerCase();
  let x = document.getElementsByClassName("resName");
  let y = document.getElementsByClassName("restaurants");
  var count = 0;
  for (i = 0; i < x.length; i++) {
      if (!x[i].innerHTML.toLowerCase().includes(input)) {
          y[i].style.display="none";
          count += 1;
      }
      else {
          y[i].style.display="list-item";
      }
    }
  if (count == x.length){
    document.getElementById("empty").innerHTML =
    "No restaurants with \"" + input + "\"</h2>";
  }
  else{
      document.getElementById("empty").innerHTML = "";
  }
}
</script>
