{{#each data}}
 <h2 class="restaurants">{{this.name}}</h2>
	<hr>
  <ul>
    <li>Hours of Operation: {{this.hours.open}} - {{this.hours.close}}</li>
    <li>Delivery Time: {{this.time}}</li>
    <li>Available for delivery on: {{this.platforms}}</li>
    <li>Menu: {{this.menu}}</li>
  </ul>
{{/each}}
<h2 id="empty"></h2>
<script>
let x = document.getElementsByClassName("restaurants");
if (x.length == 0){
  document.getElementById("empty").innerHTML = "No restaurants with pizza"
}
else{
  document.getElementById("empty").innerHTML = "";
}
</script>
